body {
    background-color: black;
    margin: 0;
}

.header-div {
    background-color: darkolivegreen;
    color: azure;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 15px;
}

.content {
    position: relative;
    background-color: azure;
    opacity: 0.75;
    color: black;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    font-size: 16px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    background-color: darkolivegreen;
    font-size: 11px;
    padding: 5px;
    color: azure;
}

h1, h3 {
    text-align: center;
}